section {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 90%;
 filter: drop-shadow(0px 0px 14px rgba(0,0,0,0.1));
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(48, 48, 48);
}
#status {
  width: 90%;
 
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}






strong {
  color: black;
  font-weight: 600;
}

body{
  background-color: #ffffff;
}
.cover {
  margin-top: -10px;

  width: 100%;
  position: absolute;
}
.covercontent {
  position: relative;
  margin-top: 10px;
  z-index: 3;
  width: 100%;
}

.gumfol {
  width: 60%;
  margin: auto;
}

.heading {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 500px;
  padding-top: 50px;
}
.topbar {
  display: none;
  margin-top: -1px;
  width: 100%;
  z-index: 7;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.sidebox {
  position: relative;
  padding: 0px 70px 0px 0px;
  margin-top: -30%;
  filter: drop-shadow(-3px -3px 12px rgba(0, 0, 0, 0.5));
  width: 30%;
  float: right;
  background-color: transparent;
}
.buybtn {
  z-index: 6;
  border-radius: 15px;
  width: 350px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  position: relative;
  filter: drop-shadow(0px 0px 15px rgba(14, 190, 235, 0.37));
}
.buy {
  z-index: 5;
  padding: 0px 0px 0px 13%;
  margin-bottom: 20%;
  margin-top: -25%;
}
.bgshad {
  padding-top: 100px;
  height: 100;

  margin-top: -30px;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 100px;
  width: 70%;

    background-color: #ffffff;
    

  
}
p {
  font-family: "Open Sans", sans-serif;
  color: grey;
}
.para {
  font-family: "Open Sans", sans-serif;
  color: grey;
  padding: 120px 10px 0px 10px;
}

.btntry {
  margin: 0px 10px 0px 0px;
  background-color: #25a4ad;
  color: white;
}

h4 {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}
.warn {
  color: rgb(202, 37, 37);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.image1 {
  width: 100%;
}

.imagespark {
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.image3 {
  width: 70%;
  padding-top: 40px;
  margin: auto;
}

.left {
  width: 40%;
}
.right {
  width: 60%;
}
.handlegif {
  margin-top: 100px;
}
.gifs1 {
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  width: 200px;
  transition: transform 0.2s;
}
.gifs1:hover {
  transform: scale(1.5);
}

.footer {
  height: 350px;
  width: 100%;
  z-index: 6;
  background-color: #252525;
}
.soicon {
  width: 30px;
  border-radius: 10px;
  margin: 0px 5px 0px 5px;
  color: transparent !important;
  text-decoration: none !important;
}
.soicon-insta{
  width: 40px;
  border-radius: 10px;
  margin: 0px 5px 0px 0px;
  color: transparent !important;
  text-decoration: none !important;
}
.icons {
  text-align: center;
  margin: auto;
  padding-top: 60px;
}

.mylogo {
  margin-top: 3px;
  font-size: 25px;
  color: white;
  text-align: center;
  filter: drop-shadow(0px 0px 15px rgba(216, 11, 188, 0.5));
  padding-top: 50px;
}
.myimg {
  margin-right: 30px;
  width: 30px;
  border-radius: 100%;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  box-shadow: 0px 0px 10px #bd2586;
  animation: spinShadow 6s linear infinite;
}
.mylogo {
  margin-left: -15px;
}

.youtube {
  width: 100%;
  height: auto;
}

.sparkt {
  text-align: center;
  margin-top: 50px;
}
iframe {
  width: 100%;
  margin-bottom: 20px;
}

@keyframes spinShadow {
  to {
    transform: rotate(360deg);
  }
}
.preview-container-square {
  border-radius: 14px;
}

@media only screen and (max-width: 820px) {
  iframe {
    height: 350px;
    margin-bottom: 20px;
  }
  .sidebox {
    position: relative;
    padding: 0px 20px 0px 0px;
    margin-top: -39%;
    filter: drop-shadow(-3px -3px 12px rgba(0, 0, 0, 0.5));
    width: 35%;
    float: right;
    background-color: transparent;
  }
  .buy {
    z-index: 5;
    padding: 0px 0px 0px 50px;
    margin-bottom: 20%;
    margin-top: -25%;
  }
  .bgshad {
    padding-top: 0px;
    height: 100;

    margin-top: -40px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 100px;
    width: 90%;

    background-color: #ffffff;

    
  }
}
/* for mobiles  */
@media only screen and (max-width: 600px) {
  .gumfol {
      width: 100%;
      
  }
  .topbar {
    display: none;
  }
  iframe {
    height: 250px;
    margin-bottom: 20px;
  }
  .bgshad {
    padding-top: 0px;
    height: 100;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
  }
  .sidebox {
    position: relative;
    padding: 0px 20px 0px 0px;
    margin-top: -49%;
    filter: drop-shadow(-3px -3px 12px rgba(0, 0, 0, 0.5));
    width: 35%;
    float: right;
    background-color: transparent;
  }
  .buybtn {
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    font-size: 14px;
    width: 250px;
    border-radius: 9px;
  }
  .buy {
    z-index: 5;
    text-align: center;
    padding: 5px;
    margin-bottom: 10%;
    margin-top: 0px;
  }
  .para {
    padding-top: 10px;
  }
  p {
    font-size: 18px;
  }
  h4 {
    font-size: 22px;
  }
  .filterbtn {
    text-align: center;
    padding: 5px;
  }
  .filbtn {
    width: 80%;
    margin: 7px;
  }
  .image3d {
    text-align: center;
  }
  .left {
    width: 100%;
    text-align: center;
  }
  .right {
    width: 100%;
    padding-top: 20px;
  }
  .gifs1 {
    width: 100%;
    transition: transform 0.2s;
  }
  .gifs1:hover {
    transform: scale(1);
  }
}
